ul{
    list-style-type:square;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif
}

h1{
    display: flex;
    justify-content: center;
    font-family: "Bungee Shade";
    color: rgb(80, 80, 80);
    font-size: 3rem;
}

h2{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    border-radius: 30px;
    scale: 0.6;


}



